node_modules
.vitepress/dist
.vitepress/cache
.DS_Store
pages/.DS_Store
pages/Community and Collaboration/.DS_Store
pages/Community and Collaboration/Getting Started With The EarthCODE Discourse/.DS_Store
pages/Integrating New Platforms to EarthCODE/.DS_Store
pages/public/img/.DS_Store
pages/public/img/platforms/.DS_Store
pages/public/img/terms/.DS_Store
.vscode
pages/Community and Best Practices/FAIR and Open Science Best Practices/comments.md
comments.md
