@font-face {
  font-family: "NotesESAbold";
  src: url("./fonts/notesesabol.ttf") format("truetype");
}
@font-face {
  font-family: "NotesESAregular";
  src:
    url("./fonts/notesesareg.woff2") format("woff2"),
    url("./fonts/notesesareg.ttf") format("truetype");
}
@font-face {
  font-family: "NotesStyle";
  src: url("./fonts/notesstyle.woff") format("woff");
}

:root {
  --vp-c-white: #ffffff;
  --vp-c-black: #101213;
  --vp-font-family-base: Arial, sans-serif;
  --vp-c-brand-1: #00b19d;
  --vp-c-brand-2: #00b19d;
  --vp-c-brand-3: #00b19d;
  --vp-layout-top-height: 56px;
}

@media (min-width: 720px) {
  :root {
    --vp-layout-top-height: 64px;
  }
}

.dark {
  --vp-c-bg: #0b1d26;
  --vp-c-bg-alt: #003247;
  --vp-c-bg-elv: #0b1d26;
  --vp-c-bg-soft: #003247;
}

html {
  font-family: Arial, Helvetica;
}

body {
  transition: opacity 0.3s ease-in-out;
}

body:not(.loaded) {
  opacity: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.VPNavBarTitle,
.VPHero .text,
.VPButton {
  font-family: "NotesESAbold", sans-serif;
}

.notebook {
  width: 135%;
  height: 800px;
}